<div class="page-content tab">

    <div class="block justify-content-center">
        <i class="icon f7-icons if-not-md">person</i>
        <i class="icon material-icons md-only">person</i>
        <h2 class="text-align-center">Hesabım</h2>
        <p class="text-align-center">Hesabınızı görüntüleyebilmek için lütfen giriş yapın.</p>
        
        <button href="#" class="col button button-large button-fill login-screen-open color-green"  data-login-screen=".login-screen">Giriş Yap</button>
    </div>
</div>