<div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
        <div class="title text-align-center">Sepetim</div>
    </div>
</div>


<div class="page-content tab">

    <div class="block">

        
        <p class="text-align-center">Sepetinizde ürün bulunmamaktadır</p>
        <button class="button">Alışverişe devam et</button>
    </div></div>