



<link href="~/css/basarili.css" rel="stylesheet" />

<div class="page-content tab">

    <div class="block">
        <div class="container">
            <br />
            <div class="row">
                <div class="col text-center">
                    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                        <span class="swal2-success-line-tip"></span>
                        <span class="swal2-success-line-long"></span>
                        <div class="swal2-success-ring"></div>
                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                    </div>

                </div>

            </div>
            <div class="row col-md-12">
                <div class="col text-center">
                    <h1>Kayıt oldunuz!</h1>
                    <hr />
                    <h3 class="text-black-50">Hemen oturum açabilirsiniz</h3>
                </div>
            </div>
            <br />
        </div>
    </div></div>
