
<div id="cikis" class="page" data-name="cikis">
    <div class="page-content">
        <header>
            <h1 class="text-align-center">Çıkış Yap</h1>
            <p class="text-align-center">Oturum Kapatıldı</p>
            <button class="button" href="~/">Tamam</button>
        </header>

    </div>
</div>