<div class="page">
    <div class="page-content">
        <!-- Static Navbar -->
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Geri</span>
                    </a>
                </div>
                <div class="title">Hesap Bilgilerim</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="block">
            
            <div class="list links-list"><ul>
                <li>
                    <a href="/hesap/kullanicibilgi" class="">Kullanıcı Bilgilerim</a>
                </li>
                <li>
                    <a href="/hesap/adresler">Adres Bilgilerim</a>
                </li>
                <li>
                    <a href="/hesap/sifredegistir">Şifre Değişikliği</a>
                </li>
                <li>
                    <a href="/Hesap/CikisYap">Çıkış</a>
                </li>
            </ul></div>
        </div>
    </div>
</div>