



<div class="page-content tab">

    <div class="block">
        <div class="card card-outline">
            <div class="card-content card-content-padding"><h3>Merhaba @User.Identity.Name !</h3></div>
        </div>


        <div class="list inset">
            <ul>
                <li>
                    <a href="/hesap/siparislerim" class="item-link item-content">
                        <div class="item-media"> <i class="icon f7-icons if-not-md">cube_box</i>
                            <i class="icon material-icons md-only">person</i></div>
                        <div class="item-inner">
                            <div class="item-title">Siparişlerim</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><i class="icon f7-icons if-not-md">bubble_left_bubble_right_fill</i>
                            <i class="icon material-icons md-only">person</i></div>
                        <div class="item-inner">
                            <div class="item-title">Değerlendirmelerim</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><i class="icon f7-icons if-not-md">icon-envelope</i>
                            <i class="icon material-icons md-only">person</i></div>
                        <div class="item-inner">
                            <div class="item-title">Mesajlarım</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/hesap/hesapbilgilerim" class="item-link item-content">
                        <div class="item-media"><i class="icon f7-icons if-not-md">gear_alt</i>
                            <i class="icon material-icons md-only">person</i></div>
                        <div class="item-inner">
                            <div class="item-title">Hesap Bilgilerim</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><i class="icon f7-icons if-not-md">question_circle</i>
                            <i class="icon material-icons md-only">person</i></div>
                        <div class="item-inner">
                            <div class="item-title">Yardım</div>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="block-footer">
                <p>Sürüm v0.1</p>
            </div>
        </div>




    </div>
</div>


